*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
}

.home {
    margin-left: 10%;
    font-size: 250%;
    user-select: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.home:hover{
    opacity: 0.8;
}

.home:active{
    opacity: 0.2;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    user-select: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    font-weight: light;
    font-size: 225%;
    padding: 0px 5px;
    text-decoration: none;
}

li a:hover {
    color: gray;
}

li a:active{
    opacity: 0.2;
}

.proj{
    background: #eee;
    position: absolute;
    top: 10%;
    left: 1%;
    padding: 15px;
    background: #eee;
    min-width: 30%;
    max-width: 40%;
    border-radius: 10px;
    font-size: 2.5vh;
    user-select: none;
}

.testo{
    font-size: 2vh;
    margin-top: 1px;
}

.proj2{
    background: #eee;
    position: absolute;
    top: 10%;
    right: 1%;
    padding: 15px;
    background: #eee;
    min-width: 30%;
    max-width: 40%;
    border-radius: 10px;
    font-size: 2.5vh;
    user-select: none;
    text-align: right;
}